html{
    background-image: url("https://images6.alphacoders.com/427/thumb-1920-427036.jpg");
    background-repeat: repeat;
}
body{
    margin: auto;
    color: white;
}

h1{
    font: 60px Helvetica, serif;
    margin: auto;
}

.content {
    max-width: 500px;
    margin: auto;
}

img {
    border: 2.5px solid white;
    margin-top: 100px;
    border-radius: 50%;
  }

  .success {
    margin-left: 25%;
    border-color: white;
    color: white;
    background-color: black;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 50px;
    margin-bottom: 100px;

  }
  
  .success:hover {
    background-color: white;
    color: white;
  }
